:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(11, 1, 1, 0.87);
  background-color: #fdf9f9;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #1263dc;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  color: #f25375;
}

button {
  cursor: pointer;
}

button:hover {
  color: rgb(7, 244, 42);
}
